.empty-example[data-v-238da501]{min-height:100vh;background-color:var(--app-bg-color)}.custom-btn[data-v-238da501]{width:42.666667vw;height:10.666667vw;background:linear-gradient(to right,#ff6034,#ee0a24);border:none}
